---
const isEn = Astro.url.pathname.startsWith("/en/");
---

<main class="flex flex-col mx-auto container p-4 bg-gray-100 mb-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-8">
    {isEn ? "Contact Form" : "Formulario de contacto"}
  </h1>
  <form id="contact-form" class="w-full bg-white p-6 rounded-lg shadow-md">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700 mb-2">
        {isEn ? "Name:" : "Nombre:"}
      </label>
      <input
        type="text"
        id="name"
        name="name"
        required
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700 mb-2">
        {isEn ? "Email:" : "Email:"}
      </label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <div class="mb-6">
      <label for="message" class="block text-sm font-medium text-gray-700 mb-2">
        {isEn ? "Message:" : "Mensaje:"}
      </label>
      <textarea
        id="message"
        name="message"
        required
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
    </div>

    <button
      type="submit"
      class="w-full bg-principal text-white py-2 px-4 rounded-lg hover:bg-principal/80 cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      {isEn ? "Submit" : "Enviar"}
    </button>
  </form>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("contact-form");
      form.addEventListener("submit", function (event) {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const message = document.getElementById("message").value;

        const recipient = "Info@macoti.com.mx";
        const cc = "Macoti.ricardo@gmail.com";
        const subject = `Nuevo mensaje desde el formulario de contacto`;

        const body = `
Formulario de contacto recibido

Nombre: ${name}
Correo electrónico: ${email}
Fecha: ${new Date().toLocaleString()}

Mensaje:
${message}

Este correo fue generado automáticamente desde el sitio web de MACOTI.
      `;

        const mailtoLink = `mailto:${recipient}?cc=${encodeURIComponent(cc)}&subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;

        window.location.href = mailtoLink;
      });
    });
  </script>
</main>
